@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
 
}

.navbar{
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px 5%;
  align-items: center;

}

.navbar ul{
  display: flex;
  justify-content: space-between;
}
.links-list li, .social-links li{
  padding: 0px 10px;
  list-style: none;
  

}
.social-links li a{
  color: #000;


}
.links-list li{
  position: relative;
  /* background-color: #000; */
  margin: 0px 10px;
}
.links-list li::after{
  content: '';
  display: block;
  margin: auto;
  height: 2px;
  width: 0;
}
.links-list li:hover::after{
  width: 100%;
  background: black;
}
.links-list li a{
  text-decoration: none;
  color: #000;
 
  
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 5%;
}

.product{
  height: 450px;
  width: 280px;
  background-color: #000;
}

.cartegories-section{
  display: flex;
  flex-direction: column;
  margin: 40px 5%;
}
.cartegory-row{
  display: flex;
}

.cart{
  position: relative;
  margin: 20px;
}
.cart-actions{
  position: absolute;
  bottom: 25px;
  left: 25px;
  display: flex;
  flex-direction: column;

}
.cart-actions span{
  color: #fff;
  padding: 10px 0px;
  font-size: 18px;
}
.cart-actions a{
  background-color: black;
  padding: 10px 50px;
  border-radius: 30px;
  color: #fff;
  text-decoration: none;
}

.card__wrapper{
 padding: 0px 5%;

}
.card__wrapper h4{
  text-align: center;
  font-size: 24px;
}

.wrapper__row{
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 20px 100px;
}
.card{
  width: 280px;
  height: 450px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 1px;
  padding: 10px 10px;
  margin: 5px;
  border: 1px solid #ccc;
  /* transition: 1s ease; */
}

.card:hover{

}
.card__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__wrapper{
  display: flex;
  flex-direction: column;
}
.card__wrapper .wrapper__row{
  display: flex;
}
.card__image{
  /* border: 1px solid; */
  padding: 10px;
}
.card__title{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: start;
}
.card__title span{
  padding: 5px 0px;
  font-size: 14px;
}
.card_title_name{
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}
.card_title_name span:nth-child(2){
  border-bottom: 1px solid #000;
  /* padding: 0px; */
}
.card__title .card__btn{
  width: 120px;
  padding: 10px 10px;
  outline: none;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #000;
  font-size: 14px;
  /* margin: 0px auto; */
  
}
.products__container{
  margin: 30px 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product_row{
  display: flex;
  margin: 20px 0px;
}
.nav__links{
  margin:100px 5%;
}
.product__container{
  margin: 100px 5%;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}
.product__container .section-1{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.images__list_section{
  width: 100px;
  display: flex;
  flex-direction: column;
}
.active__image_section{
  border: 1px solid #ccc;
  padding: 10px;
}
.product__container .section-2{
  /* font-size: 18px; */
  font-weight: lighter;
  padding: 0px 50px;
}
.product__container .section-2 h3{
  font-size: 32px;
  font-weight: 400;
}
.product__container .section-2 .product__price{
  font-size: 18px;
  
  padding: 20px 0px;
}
.product__container .section-2 .select__product__size{
  margin: 50px 0px;
}
.product__container .section-2 .select__product__size .select__product__size_title{
  
  font-weight: normal;
}
.product__container .section-2 .select__product__size .product__size{
  display: flex;
  margin: 10px 0px;
}
.product__container .section-2 .select__product__size .product__size span{
  padding: 10px 15px;
  border: 1px solid;
  margin-right: 10px;
  cursor: pointer;
}
.product__container .section-2 .select__product__size .product__size span:hover{
  background-color: #ccc;
}
.add__to__cart__section{
  display: flex;
  align-items: center;
}

.add__to__cart__section .select__qty{
  display: flex;
  flex-direction: column;
  /* font-size: 18px; */
  /* margin: 10px 0px; */
}
.add__to__cart__section .select__qty span{
  font-weight: normal;
  margin: 10px 0px;
}

.add__to__cart__section .select__qty input{
  width: 60px;
  padding: 10px 0px;
  padding-left: 5px;
  font-size: 18px;
  outline: none;
  border-radius: 1px;
}
.add__to__cart__section .select__qty .input{
  font-weight: 100;
}
.add__to__cart_btn{
  display: flex;
  justify-content: space-between;
}

.add__to__cart_btn .add__cart__btn{
  width:200px;
  padding: 10px;
  font-size: 18px;
  font-weight: lighter;
  /* margin-left: 20px; */
  margin: 0px 20px;
  border-radius: 1px;
  cursor: pointer;
}
.product__details h5{
  font-size: 24px;
  font-weight: 300;
}
.footer{
  border-top: 1px solid #ccc;
  padding: 25px 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
}
.upper__footer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0px;
}

.footer__links {
  display: flex;
  flex-direction: column;
}
.footer  li{
  padding: 10px 0px;
}
.footer li{
  list-style: none;

}
.footer a{
  text-decoration: none;
  color: #000;
}

.footer .social__links li{
  display: inline;
  padding: 0px 10px;
}

.hoodies{
  
}
.hoodies__header{
  height: 400px;
  margin-bottom: 100px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  background: url(../images/hoodiesheader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  
}
.hoodies__header h3{
  font-size: 64px;
}
.hoodies__display{
  /* background-color: #000; */
  width: 100%;
  /* height: 400px; */
  padding:  0px 5%;
}
.display__row{
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0px;
}
.mini__nav{
  padding:  20px 5%;
}


.fancy-title, h1.fancy-title, h2.fancy-title, h3.fancy-title, h4.fancy-title, h5.fancy-title, h6.fancy-title {
  color: #b9a16b;
}

.jh-about-page{
  display: flex;
  padding: 50px 50px;
}

.counter-container {
  flex-direction: row;
  text-align: left;
  color: #282828;
}

.product-name{
  background-color: #000;
  background-image: url('../images/capcover.jpg');
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-origin: content-box;
  height: 500px;
  /* position: relative; */

}
.product-name h5{
  /* position: absolute;
  top: 50%;
  left: 50%; */
  font-size: 64px;
  color: white;
  /* right: 50%; */
}